@model Models.Models.GameConfig

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier</h1>

<h4>Configuration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NbCardsToDraw" class="control-label"></label>
                <input asp-for="NbCardsToDraw" class="form-control" />
                <span asp-validation-for="NbCardsToDraw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbManaToReceive" class="control-label"></label>
                <input asp-for="NbManaToReceive" class="form-control" />
                <span asp-validation-for="NbManaToReceive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginnerMoney" class="control-label"></label>
                <input asp-for="BeginnerMoney" class="form-control" />
                <span asp-validation-for="BeginnerMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WinnerMoney" class="control-label"></label>
                <input asp-for="WinnerMoney" class="form-control" />
                <span asp-validation-for="WinnerMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoserMoney" class="control-label"></label>
                <input asp-for="LoserMoney" class="form-control" />
                <span asp-validation-for="LoserMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retourner à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
